@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  /* Couleurs personnalisées */
  --color-primary: #1773cf;
  --color-background-light: #f6f7f8;
  --color-background-dark: #111921;
  --color-card-dark: #1c242c;
  --color-text-muted: #9dabb8;

  /* Polices de caractères */
  --font-display: "Noto Serif", serif;
  --font-sans: "Noto Sans", sans-serif;

  /* Bordures (Arrondis) */
  --radius-default: 0.25rem;
  --radius-lg: 0.5rem;
  --radius-xl: 0.75rem;
  --radius-full: 9999px;
}

/* Configuration du Dark Mode par classe */
@variant dark (&:where(.dark, .dark *));

@view-transition {
  navigation: auto;
}